@{
    ViewData["Title"] = "Contactenos";
}
<h1>@ViewData["Title"]</h1>
<div class="panel panel-default text-center">
    <div class="panel-body">
<div class="row marketing" >
        <div class="col-lg-6">
          <h4>Envíanos un email a:</h4>
          <a class="linked" href="mailto:aliciaenelmundovegano@gmail.com">aliciaenelmundovegano@gmail.com</a>
          <h4>Facebook</h4>
          <p>Me gusta, sigue y comparte nuestro contenido <a class="linked" href="https://www.facebook.com/pg/AliciaEnElMundoVegano">aquí</a>!</p>

          <h4>Twitter</h4>
          <p>Retweet, Follow y Share nuestro contenido<a class="linked"  href="https://twitter.com/AliciaMundoV">aquí</a>!</p>
        </div>

        <div class="col-lg-6">
          <h4>Snapchat</h4>
          <p>Ajustar, chatear y seguir nuestras historias <a class="linked">aquí</a>!</p>

          <h4>Youtube</h4>
          <p>Mira, suscríbete, me gusta y comparte nuestro contenido <a class="linked" href="https://www.youtube.com/channel/UCjFP0YzqjXbMb5uc8zM5ALw?view_as=subscriber">aquí</a>!</p>          

          <h4>Instagram</h4>
          <p>Amar, seguir y echar un vistazo a algunos de nuestros contenidos<a class="linked" href="https://www.instagram.com/aliciamundov/">aquí</a>!</p>
          </div>
</div>
 </div>       
</div>
