@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "Recipes";
}
<div class="container">
      <h1>Recetas</h1>
<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Cheesecake Vegana Chocolate Nueces</h3></div>
      <div class="panel-body">
                <img src="~/images/recipe1.jpg" alt="cake" style="float:right; width:30%;" class="img-thumbnail">
          <h4>Ingredientes</h4>
          <h5>Para la masa:</h5>
                <ul>
                <li>150 g de harina blanca de trigo </li>
                <li>90 g de margarina</li>
                <li>90 g de azúcar moreno</li>
                <li>20 g de cacao</li>
                <li>15 g de agua</li>
                <li>8 g de levadura química</li>
                <li>1 pizca de sal</li>
                </ul>
            <h5>Para el relleno:</h5>
                <ul>
                 <li>500 g de yogur de soja natural</li>    
                <li>100 g de margarina</li>
                <li>100 g de azúcar moreno</li>
                <li>60 ml de leche de soja natural</li>
                <li>50 g de nueces mondadas</li>
                <li>10 g de maicena</li>
                <li>1 vaina de vainilla (solo las semillas)</li>
                <li>1 pizca de sal</li>        
            </ul>
         <h4>Preparacion</h4> 
                <ol>
                    <li>Mezcla la margarina, la harina, el cacao, el azúcar, la levadura y la sal hasta formar una arenilla. Añade el agua y mezcla hasta formar una masa.</li>
                    <li>Estira la masa con un rodillo hasta que tenga unos 4-5 mm de grosor.</li>
                    <li>Engrasa un molde alto y fórralo con la masa. Pincha la superficie por distintos puntos con la ayuda de un tenedor para que la masa no suba. Rerserva.</li>
                    <li>Calienta el horno a 180º.</li>
                    <li>Para preparar el relleno de la cheesecake, funde la margarina en un bol. Por otro lado, calienta la leche de soja y disuelve en ella la maicena. Si es necesario, utiliza una batidora para eliminar los grumos.</li>
                    <li>Corta la vaina de vainilla por la mitad y saca las semillas. Añádelas a la margarina.</li>
                    <li>Añade también a la margarina fundida la mezcla de leche de soja y maicena, el yogur, el azúcar, la vainilla y una pizca de sal. Mezcla y vierte dentro del molde.</li>
                    <li>Coloca encima del relleno las nueces partidas y trocitos de masa.</li>
                    <li>Hornea la cheesecake a 180º durante 75-80 minutos o hasta que al pinchar con un palillo, éste salga limpio.</li>
                    <li>Deja enfriar la cheesecake antes de desmoladarla.</li>
                 </ol>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Recipe 2</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Recipe 3</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
 </div>